<!DOCTYPE html>
<html>

<head>
<title>scroll down</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.mySlides {display:none;}


</style>
</head>

<body>


<div class="w3-content w3-section" >
  <!-- img class="mySlides" src="pic3.png" width="1520" height="600" -->
  <img class="mySlides" src="{{ url_for('static' , filename = 'images/pic1.jpg') }}" width="1516" height="600">
  <img class="mySlides" src="{{ url_for('static' , filename = 'images/pic2.jpg') }}" width="1516" height="600">
  <img class="mySlides" src="{{ url_for('static' , filename = 'images/pic3.jpg') }}" width="1516" height="600">
  <img class="mySlides" src="{{ url_for('static' , filename = 'images/pic4.jpg') }}" width="1516" height="600">
  <img class="mySlides" src="{{ url_for('static' , filename = 'images/pic5.jpg') }}" width="1516" height="600">


</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>

</body>
</html>
